[submodule "Container"]
	path = Container
	url = https://github.com/RaubJo/illuminate-container

[submodule "Contracts"]
	path = Contracts
	url = https://github.com/RaubJo/illuminate-contracts

[submodule "Support"]
	path = Support
	url = https://github.com/RaubJo/illuminate-support
